* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Intro Styles */
.intro-title {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    padding-top: 500px;
    padding-bottom: 500px;
    font-size: 70px;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

.intro-scroll {
    background-color: black;
    padding-bottom: 100px;
}

.intro-scroll svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 50px;
    height: 50px;
}

.ml12 {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  .ml12 .letter {
    display: inline-block;
  }

.ml13 {
    font-weight: 200;
    font-size: 75px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/* About Me */
.intro-about {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "intro-text intro-picture";
    padding-top: 300px;
    padding-bottom: 300px;
}

.intro-text {
    grid-area: intro-text;
    padding-top: 25px;
    padding-left: 100px;
}

.intro-picture {
    grid-area: intro-picture;
    margin-right: 100px;
}

.intro-about h2 {
    font-family: 'Lato', sans-serif;
    font-size: 70px;
    margin-bottom: 40px;
}

.intro-about p {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    padding-bottom: 25px;
}

.intro-picture img {
    width: 600px;
    height: 625px;
    justify-self: center;
    border-radius: 50%;
}

.btn{
    display: block;
    width: 250px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }

/* Resume Button Styles */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}

.btn:hover{cursor: pointer}
.btn {
  background: transparent; outline: none;
  position: relative;
  border: 2px solid #111;
  padding: 15px 50px;
  overflow: hidden;
}

/*button:before (attr data-hover)*/
.btn:hover:before{opacity: 1; transform: translate(0,0);}
.btn:before{
    content: attr(data-hover);
    position: absolute;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 20px;;
    opacity: 0;
    transform: translate(-100%,0);
    transition: all .3s ease-in-out;
}

/*button div (button text before hover)*/
.btn:hover div{opacity: 0; transform: translate(100%,0)}
.btn div{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
/* *************************************************************** */

/* popup */

.popup{
    width: 100%;
    height: 100vh;
    display: none;

    position: fixed;
    top: 0;
    right: 0;
}

#popup-article:target{
    display: flex;
}

.popup::before{
    content: "";
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;

    position: fixed;
    left: 0;
    top: 50%;
    will-change: height, top;
    animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
}

.popup::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: white;

    will-change: width, opacity;
    animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;

    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
}

@keyframes line-animation{

    0%{
        width: 0;
        opacity: 1;
    }

    99%{
        width: 100%;
        opacity: 1;
    }

    100%{
        width: 100%;
        opacity: 0;
    }  
}

@keyframes open-animation{

    0%{
        height: 0;
        top: 50%;
    }

    100%{
        height: 100vh;
        top: 0;
    }
}

.popup__block{
    height: calc(100vh - 40px);
    padding-top: 50px;
    box-sizing: border-box;
    position: relative;

    margin: auto;
    animation: fade .5s ease-out 1.3s both;
}

@keyframes fade{

    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.popup__title{
    font-size: 1.5rem;
    margin: 0 0 1em;
}

.popup__close{
    width: 2rem;
    height: 2rem;
    text-indent: -9999px;

    position: fixed;
    top: 20px;
    right: 20px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

iframe {
    width: 1050px; 
    height: 1200px;
}


/* Cool Animation */

/* Skills Styles */
.skill {
    margin-left: 50px;
    margin-right: 50px;
    border: 2px;
    border-radius: 15px;
    background-color: rgb(151, 211, 203);
    padding-bottom: 50px;
    padding-top: 10px;
}

.skill-title {
    padding-top: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills-container h3 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

.skills-container li {
    font-family: 'Lato', sans-serif;
    list-style-type: none;
    font-size: 25px;
}

/* Project Styles */
.project-container {
    font-family: 'Lato', sans-serif;
    padding-top: 300px;
    padding-bottom: 300px;
}

.project-container h3{
    display: flex;
    justify-content: center;
    font-size: 70px;
    padding-bottom: 50px;
}

.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    padding-left: 25px;
    padding-bottom: 50px;
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('https://images.pexels.com/photos/208315/pexels-photo-208315.jpeg?cs=srgb&dl=pexels-pixabay-208315.jpg&fm=jpg');
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('https://images.pexels.com/photos/3130811/pexels-photo-3130811.jpeg?cs=srgb&dl=pexels-tiff-ng-3130811.jpg&fm=jpg');
}

.card--3 .card__img, .card--3 .card__img--hover {
    background-image: url('https://images.pexels.com/photos/2670898/pexels-photo-2670898.jpeg?cs=srgb&dl=pexels-marco-milanesi-2670898.jpg&fm=jpg');
}

.card--4 .card__img, .card--4 .card__img--hover {
    background-image: url('https://images.pexels.com/photos/159888/pexels-photo-159888.jpeg?cs=srgb&dl=pexels-energepiccom-159888.jpg&fm=jpg');
}

.card--5 .card__img, .card--5 .card__img--hover {
    background-image: url('https://images.pexels.com/photos/33041/antelope-canyon-lower-canyon-arizona.jpg?cs=srgb&dl=pexels-paul-ijsendoorn-33041.jpg&fm=jpg');
}

.card--6 .card__img, .card--6 .card__img--hover {
    background-image: url('https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?cs=srgb&dl=pexels-markus-spiske-1089438.jpg&fm=jpg');
}


.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    
}
.card {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
    z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}


/* Contact Styles */
.contact-container {
    font-family: 'Lato', sans-serif;
}

.contact-container h3{
    display: flex;
    justify-content: center;
    font-size: 70px;
    padding-bottom: 15px;
}

svg {
    width: 40px;
    height: 40px;
    color: black;
    margin-right: 10px;
}

svg:visited svg:hover{
    text-decoration: none;
    color: black;
}

.svg-links {
    display: flex; 
    justify-content: center;
    padding-bottom: 25px;
}

.form-group label {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

.form-group input {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    border-radius: 4px;
    font-size: 20px;
    width: 400px;
    height: 35px;

}

.form-group textarea {
    font-family: 'Lato', sans-serif;
    border-radius: 4px;
    font-size: 20px;
    width: 800px;
    height: 400px;

}

.form-group {
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
}

.form-control {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

.submit-btn {
    margin-top: 20px;
    width: 250px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #333;
    background-color: white;
    border: 2px solid #333;
    letter-spacing: 4px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

.contact-form-btn {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1600px) {
    .intro-title {
        font-size: 55px;
    }
}

@media only screen and (max-width: 1200px) {
    .intro-title {
        font-size: 45px;
    }
}

@media only screen and (max-width: 1170px) {
    .intro-title {
        font-size: 30px;
        padding-top: 300px;
        padding-bottom: 300px;
    }

    .intro-scroll svg {
        display: none;
    }

    .intro-text h2 {
        font-size: 40px;
    }

    .intro-text p {
        font-size: 20px;
    }

    .intro-picture img {
        width: 300px;
        height: 325px;
    }

    iframe {
        width: 600px;
        height: 800px;
    }

    .skill-title h2 {
        font-size: 40px;
    }

    .skills-container h3 {
        font-size: 20px;
    }

    .skills-container li {
        font-size: 15px;
    }

    .project-title h3 {
        font-size: 30px;
    }

    .contact-container h3 {
        font-size: 30px;
    }

    svg {
        width: 30px;
        height: 30px;
    }

    .form-group label {
        font-size: 15px;
    }

    .form-group input {
        font-size: 15px;
        width: 200px;
        height: 30px;
    }

    .form-group textarea {
        width: 400px;
        height: 200px;
    }
}
